.caroimg {
    object-fit: cover;
    object-position: center;
    min-height: 50vh;
    height: 480px;
    width: 100%;
    overflow: hidden;
    /* color:#dddddd */
}

.des{
    min-height: 50vh;
    max-height: max-content;
    width: 40vh;
    background-color:#dddddd;
}

.QGcard:hover {
    transition: .5s ease;
    opacity: 0.5;
    transform: scale(1.02);
}

.QGcardimage {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cardimage {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.dona{
    min-height: 50vh;
}

.donaImg{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}