p {
    line-height: 1.3;
    font-size: 20px;
}

.cardimg {
    height: 5rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
 
.title-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.option {
    font-size: 20px;
    padding:5px;
}

.sub-label {
    display: inline-block;
    color: gray;
}

.submit-button {
    padding: 40px;
}

.add-padding {
    padding: 5px;
}
.add-more-padding {
    padding: 15px;
}

.box {
    padding-top:2%;
    width: 80%;
    max-width: 500px;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

.result-container {
    padding: 40px;
    margin:7px;
    background-color: rgb(214, 225, 239);
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    max-width: 700px;
}

iframe {
    resize: both;
    width:80%;
    height:600px;
}

input[type=radio]:checked + label>div {
    background-color: rgb(60, 99, 228);
    color: rgb(231, 241,255);

}
input[type=radio] + label>div {
    background-color: rgb(231, 241,255);
    color: rgb(14, 99, 228);
    width: 50vw;
    max-width: 300px;
    padding: 5px 0px 5px 0px;
    transition: 500ms all;
}
input[type=radio]:hover + label>div {
    background-color: rgb(60, 99, 228);
    color: rgb(231, 241,255);
}

input[type=radio]:hover + label>img {
    transform: 
        rotateZ(3deg) 
        rotateX(3deg);
}
input[type=radio]:checked + label>img {
  transform: background-color 0.5s ease;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px rgb(60, 99, 228);
}

input[type=radio] + label>img {
  border: 1px solid #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

.show {
    display: block;
}

.hide {
display: none;
}

/* input[type=radio]:checked + label>img {
    transform: 
        rotateZ(5deg) 
        rotateX(5deg);
} */